.clock {
    width: 100px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  .clock-time,
  .clock-ampm {
    font-family: "Concert One", cursive;
    font-size: 20px;
    color: darkslategray;
    position: absolute;
    top: 3.5%;
    left: 37.5%;
  }
  
  .clock-time {
    font-size: 24px;
    position: absolute;
    left: 35%;
  }

.classHeader {
  font-family: "Concert One", cursive;
  color: darkslategray;
  font-size: 32px;
  position:absolute;
  left: 125px;
  top: 100px;
}

.openButton {
  background-color: deepskyblue;
    border: none;
    color: white;
    font-size: 36px;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
    height: 125px;
    position: absolute;
    font-family: 'Concert One', cursive;
}

#startHomeroom {
  top: 20%;
  left: 31.5%;
}

#startScience {
  top: 20%;
  left: 57.5%;
}

#startSocial {
  top: 49%;
  left: 31.5%;
}

#startReligion {
  top: 49%;
  left: 57.5%;
}

#startELA {
  top: 77%;
  left: 31.5%;
}

#startMath {
  top: 77%;
  left: 57.5%;
}

#classroom {
  position: absolute;
  top: 1%;
  font-family: 'Concert One', cursive;
  color: darkslategray;
  left: 60%;
}

html {
  background-color: lightskyblue;
  overflow: hidden;
}

@keyframes cloudDown {
  0% {top: -199px;}
  100% {top: 1000px;}
}

.cloud {
  animation: cloudDown 10s linear infinite;
  position: absolute;
  z-index: -1;
  top: -200px;
}

#cloud1 {
  left: 10%;
  animation-delay: 4s;
}

#cloud2 {
  left: 30%;
  animation-duration: 9;
}

#cloud3 {
  left: 50%;
  animation-delay: 10s;
  animation-duration: 8s;
}

#cloud4 {
  left: 80%;
  animation-delay: 8s;
}